<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
    <body>
    <div class="wrapper">
        <div class="apiai">
            <div class="section">
                Input:
                <input type="text" id="request" autofocus>
                <button id="send_button" class="btn btn-default">Send</button>
            </div>
            <p class="response">Hi, i'm your media player. Ask me anything. (You can run me with "Play" command)</p>
        </div>
        <div class="vidya">
            <div id="video-placeholder"></div>
            <div class="controls">
                <!--<button id="render" class="btn btn-default">Render</button>-->
                <button id="play" class="btn btn-default">Play</button>
                <button id="pause" class="btn btn-default">Stop</button>
                <button id="next" class="btn btn-default">Next</button>
                <button id="minus" class="btn btn-default">10 sec backward</button>
                <button id="plus" class="btn btn-default">10 sec forward</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="../static/js/youtube.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.5.0/annyang.min.js"></script>

    <script>
        /*if (annyang) {
            annyang.start({ autoRestart: false });

            annyang.addCallback('start', function(){
                console.log('started');
                console.log(annyang.isListening());
                annyang.debug([newState=true]);
                annyang.addCallback('result', function(string){console.log(string);});
                annyang.addCallback('resultNoMatch', function(string){console.log(string);});
                annyang.addCallback('resultMatch', function(userSaid, commandText, phrases) {
                    console.log(userSaid); // sample output: 'hello'
                    console.log(commandText); // sample output: 'hello (there)'
                    console.log(phrases); // sample output: ['hello', 'halo', 'yellow', 'polo', 'hello kitty']
                })
            });
        }*/
        function startDictation() {
            if (window.hasOwnProperty('webkitSpeechRecognition')) {

                var recognition = new webkitSpeechRecognition();

                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.lang = "en-US";
                recognition.start();

                recognition.onresult = function (e) {
                    var result = e.results[0][0].transcript;
                    console.log(result);
                    if (result != 'turn off'){
                        $('#request').val(result);
                        request_to_api();
                        $('#request').val(result);
                        startDictation();
                    } else {
                        recognition.stop();
                    }
                };

                recognition.onerror = function (e) {
                    //recognition.stop();
                    console.log('recognition error');
                    startDictation();
                }
            }
        }
        startDictation()
        </script>
    </body>
</html>