<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
    <body>
    <div class="wrapper">
        <div class="apiai">
            <div class="section">
                Input:
                <input type="text" id="request" autofocus>
                <button id="send_button" class="btn btn-default">Send</button>
                <button id="onair_button" class="btn btn-default" onclick="startDictation()" data-toggle="tooltip" title="Click me or say 'Turn off' to control Speech to text" data-placement="right">On Air</button>
                <!--<button id="onair_button" class="btn btn-default" onclick="checkSTT()" data-toggle="tooltip" title="Click me or say 'Turn off' to control Speech to text" data-placement="right">On Air</button>-->
            </div>
            <p class="response">Hi, i'm your media player. Ask me anything. (You can run me with "Play" command)</p>
        </div>
        <div class="vidya">
            <div id="video-placeholder"></div>
            <div class="controls">
                <button id="render" class="btn btn-default">Render</button>
                <button id="play" class="btn btn-default">Play</button>
                <button id="pause" class="btn btn-default">Stop</button>
                <button id="next" class="btn btn-default">Next</button>
                <button id="minus" class="btn btn-default">10 sec backward</button>
                <button id="plus" class="btn btn-default">10 sec forward</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="../static/js/youtube.js"></script>
    <script type="text/javascript" src="../static/js/stt.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.5.0/annyang.min.js"></script>

    <!--<script>
        $('[data-toggle="tooltip"]').tooltip();
        if (navigator.userAgent.match(/Vivaldi/) == null) {
            if (annyang) {
                annyang.start({ autoRestart: true });

                annyang.addCallback('start', function(){
                    console.log('started');
                    console.log(annyang.isListening());
                    document.getElementById("onair_button").className = "btn btn-danger";
                    //annyang.debug([newState=true]);
                    annyang.addCallback('result', function(string){
                        console.log('result ' + string[0]);
                        var result = string[0];
                        if (result != 'turn off') {
                            $('#request').val(result);
                            request_to_api();
                            $('#request').val(result);
                        } else {
                            annyang.abort();
                            document.getElementById("onair_button").className = "btn btn-default";
                        }
                    });
                    annyang.addCallback('resultNoMatch', function(string){console.log('nomatch ' + string);});
                    annyang.addCallback('resultMatch', function(userSaid, commandText, phrases) {
                        console.log(userSaid); // sample output: 'hello'
                        console.log(commandText); // sample output: 'hello (there)'
                        console.log(phrases); // sample output: ['hello', 'halo', 'yellow', 'polo', 'hello kitty']
                    });
                });
            }
        }

        function checkSTT(){
            if (navigator.userAgent.match(/Vivaldi/) == null) {
                if (annyang.isListening() == false) {
                    annyang.start({autoRestart: true});
                    document.getElementById("onair_button").className = "btn btn-danger";
                } else {
                    annyang.abort();
                    document.getElementById("onair_button").className = "btn btn-default";
                }
            }
        }
        </script>-->
    </body>
</html>